* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BeaufortforLOL';
    src: url('../typography/League.otf') format('opentype');
}

@font-face {
    font-family: 'Spiegel';
    src: url('../typography/SpiegelSans-4SemiLightItalic_TRIAL.otf') format('opentype');
}

@font-face {
    font-family: 'league';
    src: url('../typography/League.otf') format('opentype');
}


body {
    font-family: "League Spartan", sans-serif;
    background: linear-gradient(180deg, #0A1428 0%, #091428 100%);
    color: white;
}

.nav__container {
    display: flex;
    width: 100%;
    height: 0;
    margin-bottom: 5px;
    align-items: flex-start;
}


.descripcion {
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    align-self: stretch;
}

.title {
    font-family: "BeaufortforLOL";
    font-size: 46px;
    font-style: italic;
    font-weight: 800;
    padding: 0px 4px;
    background: linear-gradient(180deg, #C89B3C 0%, #9b6d1f 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.paragraph {
    width: 300px;
    color: #FFF;
    text-align: center;
    font-family: "League Spartan";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.deco {
    color: #C89B3C;
    font-size: 26px;
}

/*todo: Container  */
.main-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0px 10px;
    margin-top: 20px;
    align-items: flex-start;
}

/** mostrar personaje  */
.visualizacion {
    display: flex;
    width: max-content;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    padding-left: 5px;
}

/** Imagen del personaje */
#campeon_img {
    max-width: 100%;
    height: 80%;
    border-radius: 8px 8px 0 0;
}

/** Titulo y Nombre */
.campeon__title {
    font-size: 32px;
    font-family: BeaufortforLOL;
    font-style: italic;
    font-weight: 500;
    color: #C89B3C;
}

.campeon__name {
    font-size: 40px;
    font-family: BeaufortforLOL;
    font-style: italic;
    font-weight: 500;
}

/** tabla de datos  */
.tabla__datos {
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
}

.tabla__title {
    margin: 0;
    font-family: league;
    font-style: italic;
    font-size: 28px;
    text-align: center;
    margin-bottom: 8px;
}

.buscador {
    display: flex;
    justify-content: center;
    width: 50%;
}

.input-text {
    display: flex;
    flex-grow: 1;
    min-width: 0;
}

.icon-riot {
    background-color: #D32F2F;
    border-radius: 4px 0 0 4px;
}

.icon__p {
    width: 30px;
}

.input__buscar {
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    width: 100%;
    min-width: 0; 
    padding: 8px 4px;
    border: none;
    outline: none;
    border-radius: 0 4px 4px 0;
}

.btn__buscar {
    font-family: BeaufortforLOL;
    font-style: italic;
    margin-left: 6px;
    background: #0AC8B9;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    transition: background .3s ease-in;
}

.btn__buscar:hover {
    cursor: pointer;
    background:#005A82
}

/** tabla de contenido  */
.estadisticas {
    background-color: white;
    width: 66%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 4px 0 rgba(73, 13, 75, 0.4);
}

.table {
    color: black;
    width: 100%;
    padding: 10px;
    gap: 2px;
    text-align: left;
}   

.tablerol {
    color: black;
    width: 100%;
    padding: 10px;
    gap: 2px;
    font-size: 20px;
}

.titlerol {
    font-size: 36px;
    font-family: BeaufortforLOL;
    font-style: italic;
    color: #C89B3C;
}







/*todo: footer */
.footer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 6px;
}

.footer__icon {
    color: #fa1616;
}